<main>

    <h1> Here is A Menu of Best Burgers In Town</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
            
            </div>

            <div class="col-md-6">

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Add a new burger !!
                </h2>

                {{!-- form  --}}
            </div>
        </div>

        <footer>
            
        </footer>
    </div>
</main>